.container{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}


/*
*
*   网页左边区域
*
*/
.container .content_left{
    width: 60%;
    display: inline-block;
}

.content_left>.article{
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 10px #5f5f5f;
    padding: 20px;
    margin-bottom: 20px;
}

.content_left .user>.title{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #b9b3b3;
    padding-bottom: 10px;
}
.content_left .user>p{

    padding: 15px 0;
}
.content_left>.comments h3{
    font-size: 16px;
    font-weight: unset;
    margin-bottom: 15px;
}
.content_left>.comments p{
    border: 1px dashed #7ca4c1;
    background: #d9edf7;
    padding: 10px;
    margin-bottom: 10px;
}



/*
*
*   网页右边区域
*
*/

.container .content_right{
    display: inline-block;
    width: 36%;
    margin-left: 30px;
    vertical-align: top;
}

.container .content_right .right_module{
    background: #1f1f1f;
    border: 1px solid #191818;
    border-radius: 4px;
    margin-bottom: 20px;
}

.right_module .title{
    background: #191818;
    color: aqua;
    padding: 10px;
}

.right_module>a{
    text-decoration: none;
    padding: 20px 10px;
}

.right_module>ul>li{
    padding: 10px 10px;
    border-bottom: 1px solid #292929;
}

.right_module>ul>li>a{
    text-decoration: none;
    color: #eee;
}
.right_module>ul>li>a:hover{
    color: #337ab7;
}

.right_module>ul>li>p{
    margin-bottom: 5px;
}
.right_module>ul>li>p>.left{
    float: left;
    color: #eee;
}
.right_module>ul>li>p>.right{
    float: right;
    color: #eee;
    
}

.right_module.pinglun>ul>li>a{
    color: #777;
}
.right_module.lianjie>ul>li>a{
    width: 50%;
    display: inline-block;
}
