.container{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}


/*
*
*   网页左边区域
*
*/
.container .content_left{
    width: 60%;
    display: inline-block;
}
.container .content_left .every_day{
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 10px #5f5f5f;
    padding: 20px;
    margin-bottom: 20px;
}
.every_day>span{
    color: rgb(72,175,140);
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
}
.every_day>.english{
    margin-bottom: 10px;
}
.every_day>.chinese>span{
    float: right;
}

.content_left .article{
    border: 1px solid #bfbfbf;
    margin-bottom: 25px;
    border-radius: 4px;
    height: 190px;
    background-color: #fff;

}
.content_left .article>.article_title{
    color: #13102b;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    padding: 25px 14px 0px;
}
.content_left .article>.article_title a{
    text-decoration: none;
    color: #13102b;
}
.content_left .article>.article_title a:hover{
    color: #23527c;
}
.content_left .article>.article_content{
    color: #13102b;
    font-size: 14px;
    margin-bottom: 16px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 14px;
}

.content_left .article>.article_footer{
    background-color: #1f1f1f;
    
    padding: 5px 15px;
    box-shadow: 0 1px 1px;
    color: #eee;
}

.content_left #article .page_tool>ul>li{
    display: inline-block;
    padding: 4px 14px;

    background-color: #fff;
    border: 1px solid #ddd;
}
.content_left #article .page_tool>ul>li.active{
    
    background-color: #1f1f1f;
    border-color: #191818;
    cursor: default;
}
.content_left #article .page_tool>ul>li.active>a{
    color: #fff;
}

.content_left #article .page_tool>ul>li>a{
    color: #1f1f1f;
    text-decoration: none;

}
.content_left #article .page_tool>ul>li:not(.active):hover{
    color: #191818;
    background-color: #eee;
    border-color: #ddd;
}


/*
*
*   网页右边区域
*
*/

.container .content_right{
    display: inline-block;
    width: 36%;
    margin-left: 30px;
    vertical-align: top;
}

.container .content_right .right_module{
    background: #1f1f1f;
    border: 1px solid #191818;
    border-radius: 4px;
    margin-bottom: 20px;
}

.right_module .title{
    background: #191818;
    color: aqua;
    padding: 10px;
}

.right_module>a{
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
}

.right_module>ul>li{
    padding: 10px 10px;
    border-bottom: 1px solid #292929;
    overflow: hidden;
}

.right_module>ul>li>a{
    text-decoration: none;
    color: #eee;
}
.right_module>ul>li>a:hover{
    color: #337ab7;
}

.right_module>ul>li>p{
    margin-bottom: 5px;
}
.right_module>ul>li>p>.left{
    float: left;
    color: #eee;
}
.right_module>ul>li>p>.right{
    float: right;
    color: #eee;
    
}

.right_module.pinglun>ul>li>a{
    color: #777;
    
}
.right_module.lianjie>ul>li>a{
    width: 50%;
    display: inline-block;
}

