*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
body{
    background-image: url('./../img/bg.jpg');
    background-color: #f0f0f0;
}
.navbar-header{
    width: 100%;
    height: 50px;
    background: #191818;
}
.navbar{
    width: 970px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}
.navbar>a{
    display: inline-block;
    height: 50px;
    float: left;
    text-decoration: none;
    line-height: 50px;
    font-size: 20px;
    color: rgb(238, 238, 238);
}
.navbar>a:hover{
    color: #d5d5d5;
    background-color: transparent;
}

.navbar>ul{
    float: left;
    margin-left: 20px;
    width: 300px;
}

.navbar>ul>li{
    list-style: none;
    float: left;
    padding: 10px;
    line-height: 30px;
}
.navbar>ul>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbar>ul>li>a:hover{
    color: #777;
    background-color: transparent;
}
.frombar{
    line-height: 50px;
}
.frombar>input{
    width: 196px;
    border-radius: 5px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    outline: none;
}
.frombar>button{
    border-color: #ccc;
    margin-left: 10px;
    color: #333;
    background-color: #fff;
    vertical-align: middle;
    padding: 2px 12px;
    border-radius: 5px;
    height: 29px;
    cursor: pointer;
}